.input-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.input-container .input {
  width: 50px;
}

.input-container button {
  width: 100px;
  margin: 0px 10px;
}

.input-container input {
  width: 50px;
  margin: 0px 10px;
}
